<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 단순 xml 파일에서 mybatis config 파일로 바뀐다. -->

<configuration>
	<typeAliases>
		<typeAlias type="com.mvc.upgrade.model.dto.BoardDto" alias="boardDto"/>
		<!-- 타입의 별칭을 정해준다. -->
		<!-- 풀 네임이 너무 기니 이걸 줄여서 boardDto라 부르겠다고 선언 -->
		<!-- 여러개 별칭 설정할거면 여러개 작성해도 상관없다. -->
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/board-mapper.xml"/>
		<!-- mapper 파일들 작성하면 등록해준다. -->
		<!-- 여러개면 여러개 작성한다. -->
	</mappers>
</configuration>