<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 굳이 따지면 이 파일 안만들고, board-mapper.xml에 몰아서 처리해도 되지만, 나중에 에러 등 문제 생겼을 때 처리하기 쉽게 따로 작성한 것이다. -->

<mapper namespace="mymember">
	
	<select id="login" parameterType="memberDto" resultType="memberDto">
	<!-- parameterType 넘어온 파라미터 타입, resultType 돌려준 리턴 값 타입. memberDto는 config.xml에 설정한 별칭이다. -->
		SELECT * FROM MYMEMBER WHERE MEMBERID=#{memberid} <!-- AND MEMBERPW=#{memberpw} -->
		<!-- 암호화된 비밀번호 때문에 id로만 비교해서 select 해온다. -->
		<!-- 암호화된 비밀번호가 db에 저장되는데 암호화 되지 않은 비밀번호를 입력받아 비교하면 무조건 false기 때문에 못 갖고 온다. -->
	</select>
	
	<!-- resultType이 여러개면 resultMap 사용하기 -->
	
	<insert id="insert" parameterType="memberDto">
	<!-- parameterType 넘어온 파라미터 타입. memberDto는 config.xml에 설정한 별칭이다. -->
		INSERT INTO MYMEMBER VALUES(NULL, #{memberid}, #{memberpw}, #{membername});
	</insert>
	
</mapper>